.modal-body {
  margin: 2rem;
}

.modal-footer{
 color: red;
}

.modal-title{
  padding-left: 10rem;

}

// .btn {
//   color: red;
//   align-items: auto;
// }

// .container{
//   height: auto;
// }