// .table{
    // width: 30rem;
    // justify-content: center;
    // text-align: center;
// }

.rounded-circle{
    width: 45px; 
    height: 45px;

}

.table align-middle{
    justify-items: center;
    align-items: center;
}
.table{
 width: 70rem;
 justify-items: center;
 align-items: center;
// padding-right: 90rem;
// margin-right:- 50rem;
// height: 50%;

}

ablebg-light{
    justify-items: center;
}
// .cbg-light{
//     color: aquamarine;
//     width: 50;
// }