.table {
  width: 70%;
  justify-content: center;
  margin: auto;
  margin-left: 23%;
//   margin-top: 8rem;
  position: fixed;
}

.rounded-circle {
  width: 45px;
  height: 45px;
}

.Actions {
    // color: aqua;
    justify-content: center;
    text-align: center;
}

// .fas {
//     color: red;
// }

// .btn{
//     color: red;
// }

.Delete{
    // color: rgb(240, 12, 12);
    color: red;
}

.delete {
    color: red;
}

.Edit{
    color: rgb(17, 192, 17);

}

.edit{
    color: rgb(17, 192, 17);
}