// .table{
    // width: 30rem;
    // justify-content: center;
    // text-align: center;
// }

.rounded-circle{
    width: 45px; 
    height: 45px;

}

.table{
 width: 60rem;
 justify-items: center;
}

// .cbg-light{
//     color: aquamarine;
//     width: 50;
// }