<p>login works!</p>
<!-- <mdb-form-control>
    <input mdbInput type="text" id="formControlLg" class="form-control form-control-lg" />
    <label mdbLabel class="form-label" for="formControlLg">Form control lg</label>
  </mdb-form-control>
  <mdb-form-control>
    <input mdbInput type="text" id="formControlDefault" class="form-control" />
    <label mdbLabel class="form-label" for="formControlDefault">Form control default</label>
  </mdb-form-control>
  <mdb-form-control>
    <input mdbInput type="text" id="formControlSm" class="form-control form-control-sm" />
    <label mdbLabel class="form-label" for="formControlSm">Form control sm</label>
  </mdb-form-control> -->

  <!-- <ul>
    <li><a routerLink="">login</a></li>
  </ul> -->