// styling the loggin card
.card{
margin-top: 12rem;
width: 50%;
justify-content: center;

}

// .background-image {
//     background-image: url('./');
//     background-repeat: no-repeat;
//     height: 100vh;
// }