// styling the loggin card
// .card{
// margin-top: 15rem;
// width: 35%;
// height:min-content;
// justify-content: center;
// opacity: 10;

// }


// .background-container {
//     background-image:  url('../../../assets/realistic-makeup-background_23-2149373139.png'); 
//     color: white; 
//     text-align: center;
//     padding: 20px;
//   }

// body, html {
//     margin: 0;
//     padding: 0;
//     background-color:  url('../../src/assets/realistic-makeup-background_23-2149373139.avif');
//     color: white;
//     font-family: Arial, sans-serif; 
//     text-align: center;
//   }

.gradient-custom-3 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
    }
    .gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
    }