
<div class="card">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <button type="button" class="btn btn-primary">Button</button>
    </div>
  </div>


<mdb-form-control>
    <input mdbInput type="text" id="formControlLg" class="form-control form-control-lg" />
    <label mdbLabel class="form-label" for="formControlLg">Form control lg</label>
  </mdb-form-control>
  <mdb-form-control>
    <input mdbInput type="text" id="formControlDefault" class="form-control" />
    <label mdbLabel class="form-label" for="formControlDefault">Form control default</label>
  </mdb-form-control>
  <mdb-form-control>
    <input mdbInput type="text" id="formControlSm" class="form-control form-control-sm" />
    <label mdbLabel class="form-label" for="formControlSm">Form control sm</label>
  </mdb-form-control>

  <!-- <ul>
    <li><a routerLink="">login</a></li>
  </ul> -->