<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Add Employee</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modalRef.close()"
  ></button>
</div>
<div class="modal-body">
  <div class="form-mb-6">
    <label class="form-label" for="form3Example1cg">Your Name</label>
    <input
      type="text"
      id="form3Example1cg"
      class="form-control form-control-lg"
    />
  </div>

  <br />
  <div class="form-mb-6">
    <label class="form-label" for="form3Example3cg">Your Email</label>
    <input
      type="email"
      id="form3Example3cg"
      class="form-control form-control-lg"
    />
  </div>

  <br />
  <div class="form-mb-6">
    <label class="form-label" for="form3Example3cg">Your Department</label>
    <input
      type="email"
      id="form3Example3cg"
      class="form-control form-control-lg"
    />
  </div>

  <br />
  <div class="form-mb-6">
    <label class="form-label" for="form3Example3cg">Your Position</label>
    <input
      type="email"
      id="form3Example3cg"
      class="form-control form-control-lg"
    />
  </div>
  <br />
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
    Cancel
  </button>
  <button type="button" class="btn btn-primary">Edit</button>
</div>
