.testimonial-card .card-up {
  height: 120px;
  overflow: hidden;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.testimonial-card .avatar {
  width: 110px;
  margin-top: -60px;
  overflow: hidden;
  border: 3px solid #fff;
  border-radius: 50%;
}

.row {
  margin-bottom: 12rem;
  margin-left: 20rem;
  margin-right: 4rem;
}

.col-md-4 {
  // margin-bottom:auto ;
  // padding: auto;
  color: red;
  // margin-bottom: -10rem;
  // padding-bottom: 20rm;
  padding: 1rem;
}
