.testimonial-card .card-up {
  height: 120px;
  overflow: hidden;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.testimonial-card .avatar {
  width: 110px;
  margin-top: -60px;
  overflow: hidden;
  border: 3px solid #fff;
  border-radius: 50%;
}

.row {
  margin-bottom: 12rem;
  margin-left: 20rem;
  margin-right: 4rem;
  // max-height: 100%;
  // display: flex;
  // // flex: auto;
  // flex-direction: column;
  // overflow: hidden;
  // flex: auto;
  // overflow: auto;
  // height: auto;
  // overflow-y: scroll;
  // position: relative;
// height: 600px;
// overflow: auto;
// height: 100vh ;
// overflow-y: auto; 
// top: 0;
// padding-top: 5rem; 
// overflow: auto; 
// margin-top:5rem;
// position: fixed;
// top: 0;
// overflow: hidden;
// z-index: 10;
// height: 200vh;
}

.col-md-4 {
  padding: 25px;
}
