/* You can add global styles to this file, and also import other style files */
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/regular.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";

@import "mdb-angular-ui-kit/assets/scss/mdb.scss";

//Report Graphs
@import "@grapecity/wijmo.styles/themes/wijmo.theme.material.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

Styling the background page body,
html {
  margin: 0;
  padding: 0;

  background-image: transparent;
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;

  font-family: Arial, sans-serif;
}

Making the project to be responsive .my-element {
  font-size: 16px;
}

@media (min-width: 768px) {
  .my-element {
    font-size: 20px;
  }
}

//Report Graphs
body {
  margin: 0;
  background-color: hsl(0, 0%, 95%);
}

.wj-flexgrid {
  border: none;
}

.wj-flexgrid .wj-cell {
  border-left: none;
  border-right: none;
  display: flex;
  align-items: center;
  padding: 6px 16px;
  background: hsl(0, 0%, 100%);
  font-weight: 400;
  height: 48px;
}

.wj-flexgrid .wj-colheaders .wj-header.wj-cell {
  height: 56px;
  font-weight: bold;
  font-size: 16px;
  background: hsl(0, 0%, 80%);
  border-right: 1px solid gray;
}

.wj-flexgrid .wj-colheaders .wj-header.wj-cell:last-child {
  border-right: none;
}

.wj-cell.wj-has-notes:after {
  position: absolute;
  content: "";
  width: 0;
  right: 0;
  top: -10px;
  border: 10px solid transparent;
  border-right: 10px solid red;
  opacity: 0.5;
}

.wj-cell.wj-has-notes:hover:after {
  opacity: 1;
}
