/* You can add global styles to this file, and also import other style files */
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';

@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';

// Styling the background page
body, html {
    margin: 0;
    padding: 0;
    // background-image:  url('./assets/Makeup3.png');
    background-image: transparent;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;;
    height: 100vh;
    // background-image: 100%;
    // color: rgb(162, 27, 27);
    font-family: Arial, sans-serif; 
    // text-align: center;
  }

//Making the project to be responsive
.my-element {
    font-size: 16px;
  }

  @media (min-width: 768px) {
    .my-element {
        font-size: 20px;
      }
  }