/* You can add global styles to this file, and also import other style files */
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';

@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';

body, html {
    margin: 0;
    padding: 0;
    background-image:  url('./assets/Makeup.png');
    background-size: cover;
    // background-image: 100%;
    color: rgb(162, 27, 27);
    font-family: Arial, sans-serif; 
    // text-align: center;
  }