.gradient-custom-3 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
    }
    .gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
    }


    .form-mb-6{
        padding: -20px;
        color: #84fab0;
    }

    // .form{
    //     color: #84fab0;
    // }

    // mask d-flex align-items-center h-100 gradient-custom-3{
    //     color: #84fab0;

    // }

    // .container {
    //     color: #84fab0;
    // }
    
    // .d-flex {
    //     padding: 10px;
    // }
    
    .card{
        border-radius: 15px;
        // padding: 5px;
        margin-top: 0;
        // height: 45rem;
        // width: 40rem;  // Set the desired width
        // height: 45rem; // Set the desired height
        overflow: hidden; // or 'auto' to enable scrolling if needed
        justify-content: center;
        min-width: 10rem;
       
        font-size: 16px;
        size: 500rem;
        // margin: 10px;
        // padding: 10px;

    }

    // .card-body{
    //     color: #84fab0;
    //     // margin: 10px;
    //     // padding: 10px;
    //     font-size: 16px;
    //     // width: 20rem;
    //     // margin-bottom: 30rem;
    //     // justify-content: center;
    // }